<%- include('partials/header.ejs') %>

<h1>Book Notes</h1>
<div class="book-group">
  <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/9780099549482-M.jpg">
  <div class=" book-description">
    <h2 class="book-title">Book Title</h2>
    <p class="book-date">Date read</p>
    <p class="book-rating">Rating</p>
    <p class="book-description">Book description</p>
    <button class="view-notes">View Notes</button>
  </div>
</div>

<%- include('partials/footer.ejs') %>