body {
  padding: 0 !important;
}

.main-ui-group {
  padding: 1.5rem 10rem 0 10rem !important;
}

.main-ui-button {
  background-color: #eef4ee;
  margin: 1rem 0;
  height: 150px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  position: relative;
}

.main-ui-button p {
  margin: 0 auto;
}

.main-ui-button-radio {
  position: absolute;
  bottom: 20px;
}

.jobs-group {
  background-color: #84967e;
  border-radius: 30px 30px 0 0;
}

.jobs-header-row {
  align-items: center;
}

.jobs-group-header {
  color: #eef4ee;
}

.btn-row {
  max-width: 400px;
  padding-top: 1rem;
}

.btn-filter {
  text-decoration: none;
  background-color: #a8bba1;
  border: none;
  width: 100px;
  border-radius: 6.5px;
}

.btn-filter-active {
  background-color: #eef4ee;
}

.notes-group {
  background-color: #dfe9dc;
}

.notes-group-header {
  color: #556454;
}

.padded-row {
  padding: 2rem 1rem 0 1rem;
}

.col-left {
  margin-right: 1rem;
}

.padded-sides {
}

.radio {
  margin: 0.5rem;
  position: absolute;
  opacity: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
