nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 2rem;
}

.navbar hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.add-book {
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  padding: 2rem;
  background-color: #1c1c1c;
  flex-direction: column;
  align-items: flex-start;
  display: inline-block;
}

.add-book h2,
label {
  color: white;
}

.add-book input {
  margin-bottom: 1rem;
  height: 2rem;
  width: 20rem;
}

.add-book input {
  display: block;
}

.book-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.book-group p {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.book-section {
  margin-left: 2rem;
  display: inline-block;
  flex-direction: column;
}

.book-details {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  justify-content: center;
}

.view-notes {
  margin-top: 2rem;
}
