<%- include("partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <h1>Good Afternoon</h1>
      <p>Wednesday 20th August</p>
    </div>

    <div class="col shadow main-ui-group">
      <div class="container main-ui">

        <div class="row jobs-group">
          <div class="container">
            <div class="row padded-row">
              <div class="col text-center">
                <h2>Jobs</h2>
              </div>
              <div class="col text-center">
                +
              </div>
            </div>
            <div class="row text-center">
              <div class="col text-center">
                <button class="btn-filter">To-do</button>
              </div>
              <div class="col text-center">
                <button class="btn-filter">Missed</button>
              </div>
              <div class="col text-center">
                <button class="btn-filter">Completed</button>
              </div>
            </div>

            <div class="row main-ui-button-group text-center">
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
              <div class="col-4 main-ui-button">
                Lorem ipsum
              </div>
            </div>
          </div>
        </div>


        <div class="row notes-group text-center">
          <div class="container">
            <div class="row padded-row">
              <div class="col">
                <h2>Notes</h2>
              </div>
              <div class="col">
                +
              </div>
            </div>
            <div class="row padded-sides">
              <div class="container">
                <div class="row">
                  <div class="col">
                    Lorem
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Lorem
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>

<%- include("partials/footer.ejs") %>